# Environment Variables and Secrets
.env

# Virtual Environment
venv/
env/
ENV/

# Python compiled files
__pycache__/
*.py[cod]

# Temporary media files
temp/

# Databases
*.db
data/

# IDE and System files
.vscode/
.idea/
.DS_Store
Thumbs.db
